.about-us {
 font-size: larger;  
 font-family: Calibri;
 color: #000000; 
 max-width: 50%;
 margin: auto;
}

.about-us-text {
    font-family: Montserrat;
    font-size: small;
    color: #000000;
    text-align: center;
    font-size: larger;
}