body {
    margin: 0;
    font-family: cascade mono, Calibri, Montserrat, Verdana;
    background: rgb(29,141,179);
}

.footer-text {
    overflow: hidden;
    background-color: #57D5FF; 
}

.footer-text a {
    float: left;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size:larger;
}
