.cards {
  width: 100%;  
  padding: 8vh 0;
  background: #1D8DB3;
  display: flex;
  flex-wrap: wrap;
    gap: 2rem; 
    justify-content: center;
}

.button-for-cards {
    font-size: larger;
    background-color: #57D5FF;
    border-style: none;
    display: flex;
  flex-wrap: wrap;
    gap: 2rem; 
    justify-content: center;
    border-radius: 14%;
}

.cards-picture {
    border-style: solid;
}
